// Here you can add other styles
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--cui-body-font-size);
  font-weight: bold;
  color: var(--cui-body-color);
  text-align: var(--cui-body-text-align);
  background-color: var(--cui-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 21, 0);
}

a {
  color: $yellowPrimary;
}

p {
  font-size: 12px;
  font-weight: bold;
}

.colorBtn-orange {
  background-color: $orangePrimary !important;
  border: 1px solid $orangePrimary !important;
  color: $white;

  &:hover {
    color: $orangePrimary !important;
    background: $white !important;
    border: 1px solid $orangePrimary !important;
  }
}

.colorBtn-yellow {
  background-color: $yellowPrimary !important;
  border: 1px solid $yellowPrimary !important;
  color: $black;
  font-weight: bold;

  &:hover {
    color: $yellowPrimary !important;
    background: $white !important;
    border: 1px solid $yellowPrimary !important;
    font-weight: bold;
  }
}

.colorBtn-white {
  background-color: white !important;
  border: 1px solid white !important;
  color: black;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: white !important;
    border: 1px solid white !important;
    color: black;
    box-shadow: 0 0 0 1px rgba($yellowPrimary, .5);
  }
}

.colorBtnIcon-white {
  background-color: white !important;
  border: 1px solid var(--cui-input-border-color, #b1b7c1) !important;
  color: black;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: white !important;
    border: 1px solid var(--cui-input-border-color, #b1b7c1) !important;
    color: black;
  }
}

.textBlue {
  color: $bluePrimary !important;
}

.textWhite {
  color: white !important;
}

.textYellow {
  color: $yellowPrimary !important;
}

.textBlack {
  color: black !important;
}

.bgCustom-blue {
  background-color: $bluePrimary;
  border: $bluePrimary;
}

.background-login {
  background-image: url('../../public/images/bg-login.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  /* Atur properti-posisi dan properti lainnya sesuai kebutuhan Anda */
}

.no-background {
  background: none;
  border: none;
  /* Atur properti-posisi dan properti lainnya sesuai kebutuhan Anda */
}

.container-login {
  margin-right: 10%;
}

// .input-flat {
//   border-radius: 0;
// }

// .form-control {
//   border-radius: 0 !important;
// }

// .input-group-text {
//   border-radius: 0 !important;
// }

// .form-select {
//   border-radius: 0 !important;
// }

// .btn {
//   margin-left: 10px;
// }

.container-dashboard {
  max-width: 1500px;
}

.badge-success {
  --cui-bg-opacity: 0.1;
  background-color: rgba(var(--cui-success-rgb), var(--cui-bg-opacity)) !important;
  color: $greenPrimary;
}

.badge-info {
  --cui-bg-opacity: 0.1;
  background-color: rgba(var(--cui-info-rgb), var(--cui-bg-opacity)) !important;
  color: $blueSecondary;
}

.badge-secondary {
  --cui-bg-opacity: 1;
  background-color: rgba(var(--cui-light-rgb), var(--cui-bg-opacity)) !important;
  color: $greyPrimary;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: $yellowPrimary;
}

#toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  // top: 11.5px;
  // left: 153px;
  border-radius: 10px;

}

.form-check-input:checked {
  background-color: #02275D;
  border-color: var(--cui-form-check-input-checked-border-color, #E0E2E6);
}

.form-switch .form-check-input {
  background-image: var(--cui-form-switch-checked-bg-image, url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 0.87%29%27/%3e%3c/svg%3e"));
}

.form-check-input {
  background-color: #F87272;
  border-color: var(--cui-form-check-input-checked-border-color, #E0E2E6);
  background-image: var(--cui-form-switch-checked-bg-image, url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 0.87%29%27/%3e%3c/svg%3e"));
}
