// Here you can add other styles
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--cui-body-font-size);
  // font-weight: bold;
  color: var(--cui-body-color);
  text-align: var(--cui-body-text-align);
  background-color: var(--cui-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 21, 0);
}

a {
  color: $yellowPrimary;
}

p {
  font-size: 12px;
  font-weight: bold;
}

.logo {
  max-width: 50px;
}

.colorBtn-orange {
  background-color: $orangePrimary !important;
  border: 1px solid $orangePrimary !important;
  color: $white;

  &:hover {
    color: $orangePrimary !important;
    background: $white !important;
    border: 1px solid $orangePrimary !important;
  }
}

.colorBtn-maroon {
  background-color: $marronPrimary !important;
  border: 1px solid $marronPrimary !important;
  color: $white;

  &:hover {
    color: $marronPrimary !important;
    background: $white !important;
    border: 1px solid $marronPrimary !important;
  }
}

.colorBtn-yellow {
  background-color: $yellowPrimary !important;
  border: 1px solid $yellowPrimary !important;
  color: $black;
  font-weight: 600;

  &:hover {
    color: $yellowPrimary !important;
    background: $white !important;
    border: 1px solid $yellowPrimary !important;
    font-weight: 600;
  }
}

.colorBtn-white {
  background-color: white !important;
  border: 1px solid white !important;
  color: black;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background-color: white !important;
    border: 1px solid white !important;
    color: black;
    box-shadow: 0 0 0 1px rgba($yellowPrimary, .5);
  }
}

.colorBtn-cancel {
  background-color: white !important;
  border: 1px solid black !important;
  color: black;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-weight: 600;

  &:hover {
    background-color: white !important;
    border: 1px solid black !important;
    color: black;
    box-shadow: 0 0 0 1px rgba($black, .5);
  }
}

.colorBtn-reject {
  background-color: $redPrimary !important;
  border: 1px solid $redPrimary !important;
  color: white;
  font-size: 14px;
}

.colorBtnIcon-white {
  background-color: white !important;
  border: 1px solid var(--cui-input-border-color, #b1b7c1) !important;
  color: black;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: white !important;
    border: 1px solid var(--cui-input-border-color, #b1b7c1) !important;
    color: black;
  }
}

.colorBtnIcon-black {
  background-color: $blackPrimary !important;
  border: 1px solid $blackPrimary !important;
  color: white;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: $blackPrimary !important;
    border: 1px solid $blackPrimary !important;
    color: white;
  }
}

.colorBtnIcon-red {
  background-color: $redPrimary !important;
  border: 1px solid $redPrimary !important;
  color: white;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: $redPrimary !important;
    border: 1px solid $redPrimary !important;
    color: white;
  }
}

.colorBtnIcon-blue {
  background-color: $bluePrimary !important;
  border: 1px solid $bluePrimary !important;
  color: white;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: $bluePrimary !important;
    border: 1px solid $bluePrimary !important;
    color: white;
  }
}

.colorBtnIcon-maroon {
  background-color: $marronPrimary !important;
  border: 1px solid $marronPrimary !important;
  color: white;
  box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
  font-size: 14px;

  &:hover {
    background-color: $marronPrimary !important;
    border: 1px solid $marronPrimary !important;
    color: white;
  }
}

.textBlue {
  color: $bluePrimary !important;
}

.textWhite {
  color: white !important;
}

.textYellow {
  color: $yellowPrimary !important;
}

.textBlack {
  color: black !important;
}

.bgCustom-blue {
  background-color: $bluePrimary;
  border: $bluePrimary;
}

.background-login {
  background-image: url('../../public/images/bg-login-1.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  /* Atur properti-posisi dan properti lainnya sesuai kebutuhan Anda */
}

.no-background {
  background: none;
  border: none;
  /* Atur properti-posisi dan properti lainnya sesuai kebutuhan Anda */
}

.container-login {
  margin-right: 10%;
}

.container-dashboard {
  max-width: 1500px;
}

.badge-success {
  --cui-bg-opacity: 0.1;
  background-color: rgba(var(--cui-success-rgb), var(--cui-bg-opacity)) !important;
  color: $greenPrimary;
}

.badge-info {
  --cui-bg-opacity: 0.1;
  background-color: rgba(var(--cui-info-rgb), var(--cui-bg-opacity)) !important;
  color: $blueSecondary;
}

.badge-secondary {
  --cui-bg-opacity: 1;
  background-color: rgba(var(--cui-light-rgb), var(--cui-bg-opacity)) !important;
  color: $greyPrimary;
}

.badge-blue {
  --cui-bg-opacity: 0.1;
  background-color: rgba($bluePrimary, var(--cui-bg-opacity)) !important;
  color: $bluePrimary;
  font-size: 14px;
  font-weight: 600;
}


.text-underline {
  text-decoration: underline;
  text-decoration-color: $yellowPrimary;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.text-underline-tab {
  text-decoration: underline;
  text-decoration-color: $yellowPrimary;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  font-weight: 600;
}

#toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  // top: 11.5px;
  // left: 153px;
  border-radius: 10px;

}

.form-check-input:checked {
  background-color: #02275D;
  border-color: var(--cui-form-check-input-checked-border-color, #E0E2E6);
}

.form-switch .form-check-input {
  background-image: var(--cui-form-switch-checked-bg-image, url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 0.87%29%27/%3e%3c/svg%3e"));
}

.form-check-input {
  background-color: #F87272;
  border-color: var(--cui-form-check-input-checked-border-color, #E0E2E6);
  background-image: var(--cui-form-switch-checked-bg-image, url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%28255, 255, 255, 0.87%29%27/%3e%3c/svg%3e"));
}

.InovuaReactDataGrid__cell__content {
  overflow: hidden !important;
  white-space: normal !important;
  text-overflow: ellipsis !important;
}

.nav-link {
  color: #6a6880 !important;
}

.rotate-icon {
  transform: rotate(45deg);
}

.rotate-icon90 {
  transform: rotate(90deg);
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var(--cui-form-label-color, );
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 4px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.ag-header-cell-label {
  justify-content: center;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;

  .standarFloading {
    position: relative;
    width: 20em;
    height: 20em;
    margin: 20%;
  }
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: none;
}

.carousel-control-prev-icon {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$yellowPrimary}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>"));
}

.carousel-control-next-icon {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$yellowPrimary}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>"));
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  width: $carousel-control-width;
  padding: 0;
  color: var(--#{$prefix}carousel-control-color, $carousel-control-color);
  text-align: center;
  background: none;
  border: 0;
  // opacity: $carousel-control-opacity;
  @include transition($carousel-control-transition);

  // Hover/focus state
  &:hover,
  &:focus {
    color: var(--#{$prefix}carousel-control-color, $carousel-control-color);
    text-decoration: none;
    outline: 0;
    opacity: $carousel-control-hover-opacity;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 9rem;
  height: 9rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.ag-theme-alpine .ag-text-field-input {
  // background-color: rgb(255, 209, 123);
  /* light orange */
}

.btnNav {
  background-color: $white !important;
  border: none !important;
  color: black;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    color: $yellowPrimary !important;
    background: $white !important;
    border: 1px solid $yellowPrimary !important;
  }
}

.btnNav-active {
  background-color: $yellowPrimary !important;
  border: none !important;
  color: black;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    color: $yellowPrimary !important;
    background: $white !important;
    border: 1px solid $yellowPrimary !important;
  }
}

.sidebar-nav {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;

  .nav-title {
    padding: var(--#{$prefix}sidebar-nav-title-padding-y) var(--#{$prefix}sidebar-nav-title-padding-x);
    margin-top: var(--#{$prefix}sidebar-nav-title-margin-top);
    font-size: 80%;
    font-weight: 700;
    color: var(--#{$prefix}sidebar-nav-title-color);
    text-transform: uppercase;
    @include transition($sidebar-nav-title-transition);
  }

  .nav-link {
    display: flex;
    flex: 1;
    align-items: center;
    padding: var(--#{$prefix}sidebar-nav-link-padding-y) var(--#{$prefix}sidebar-nav-link-padding-x);
    color: var(--#{$prefix}sidebar-nav-link-color);
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    background: var(--#{$prefix}sidebar-nav-link-bg);
    border: var(--#{$prefix}sidebar-nav-link-border);
    @include border-radius(var(--#{$prefix}sidebar-nav-link-border-radius));
    @include transition($sidebar-nav-link-transition);

    &.active {
      color: var(--#{$prefix}sidebar-nav-link-active-color);
      background: var(--#{$prefix}sidebar-nav-link-active-bg);

      .nav-icon {
        color: var(--#{$prefix}sidebar-nav-link-active-icon-color);
      }
    }

    &.disabled {
      color: var(--#{$prefix}sidebar-nav-link-disabled-color);
      pointer-events: none;
      cursor: not-allowed;
      background: transparent;

      .nav-icon {
        color: var(--#{$prefix}sidebar-nav-link-disabled-icon-color);
      }

      &:hover {
        color: var(--#{$prefix}sidebar-nav-link-disabled-color);

        .nav-icon {
          color: var(--#{$prefix}sidebar-nav-link-disabled-icon-color);
        }

        &.nav-dropdown-toggle::after {
          background-image: var(--#{$prefix}sidebar-nav-group-indicator-hover);
        }
      }
    }

    @media (hover: hover),
    (-ms-high-contrast: none) {
      &:hover {
        color: var(--#{$prefix}sidebar-nav-link-hover-color);
        text-decoration: none;
        background: var(--#{$prefix}sidebar-nav-link-hover-bg);

        .nav-icon {
          color: var(--#{$prefix}sidebar-nav-link-hover-icon-color);
        }

        &.nav-group-toggle::after {
          background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"));
        }
      }
    }
  }

  .nav-icon {
    flex: 0 0 var(--#{$prefix}sidebar-nav-icon-width);
    height: var(--#{$prefix}sidebar-nav-icon-height);
    font-size: var(--#{$prefix}sidebar-nav-icon-font-size);
    color: var(--#{$prefix}sidebar-nav-link-icon-color);
    text-align: center;
    pointer-events: none;
    fill: currentcolor;
    @include transition(inherit);

    &:first-child {
      @include ltr-rtl("margin-left", calc(var(--#{$prefix}sidebar-nav-link-padding-x) * -1));
    }
  }

  // stylelint-disable-next-line selector-no-qualifying-type
  svg.nav-icon {
    overflow: hidden; // fix chrome 105+ width issue
  }

  .nav-group {
    position: relative;
    @include transition($sidebar-nav-group-transition);

    .nav-group-items {
      padding: var(--#{$prefix}sidebar-nav-group-items-padding-y) var(--#{$prefix}sidebar-nav-group-items-padding-x);
      overflow: hidden;
      @include transition($sidebar-nav-group-items-transition);
    }

    &:not(.show) .nav-group-items {
      display: none;
    }

    &.show {
      background: white;

      .nav-group-toggle {
        color: var(--#{$prefix}sidebar-nav-group-toggle-show-color);
      }

      >.nav-group-toggle::after {
        transform: rotate(180deg);
      }

      +.show {
        margin-top: 1px;
      }
    }
  }

  .nav-group-toggle {
    cursor: pointer;

    &::after {
      display: block;
      flex: 0 12px;
      height: 12px;
      @include ltr-rtl("margin-left", auto);
      content: "";
      background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"));
      background-repeat: no-repeat;
      background-position: center;
      @include transition($sidebar-nav-group-indicator-transition);
    }
  }

  .nav-group-items {
    padding: 0;
    list-style: none;

    .nav-link {
      @include ltr-rtl("padding-left", var(--#{$prefix}sidebar-nav-icon-width));

      .nav-icon {
        @include ltr-rtl("margin-left", calc(var(--#{$prefix}sidebar-nav-icon-width) * -1));
      }
    }
  }

  &.compact,
  .compact {
    .nav-link {
      padding-top: calc(var(--#{$prefix}sidebar-nav-link-padding-y) * .5); // stylelint-disable-line function-disallowed-list
      padding-bottom: calc(var(--#{$prefix}sidebar-nav-link-padding-y) * .5); // stylelint-disable-line function-disallowed-list
    }
  }
}

.card {
  --cui-card-spacer-y: 1rem;
  --cui-card-spacer-x: 1rem;
  --cui-card-title-spacer-y: 0.5rem;
  --cui-card-border-width: 1px;
  --cui-card-border-color: var(--cui-border-color-translucent);
  --cui-card-border-radius: 0.375rem;
  --cui-card-box-shadow: ;
  --cui-card-inner-border-radius: calc(0.375rem - 1px);
  --cui-card-cap-padding-y: 0.5rem;
  --cui-card-cap-padding-x: 1rem;
  --cui-card-cap-bg: rgba(0, 0, 21, 0.03);
  --cui-card-cap-color: unset;
  --cui-card-height: ;
  --cui-card-color: unset;
  --cui-card-bg: #fff;
  --cui-card-img-overlay-padding: 1rem;
  --cui-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--cui-card-height);
  word-wrap: break-word;
  background-color: var(--cui-card-bg);
  background-clip: border-box;
  border: none;
  border-radius: 2%;
}

.card-border {
  border: var(--cui-card-border-width) solid var(--cui-card-border-color);
  border-radius: var(--cui-card-border-radius);
}

.react-bootstrap-table th[data-row-selection] {
  width: 60px !important;
}